.navRegister {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: rgb(42, 54, 59);
  font-size: 18px;
}

.activeLink {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: rgb(42, 54, 59);
  font-size: 18px;
  color: #2196f3;
}

.navRegister:hover {
  color: #2196f3;
}
